extends layout
block content
 h1= title
 form(id='houseForm', action="/resource/house", method="POST")
  div.form-group
   label.houseAttr(for='house_type') house Type
   input#house_type(type='text', name='house_type')
  div.form-group
   label.houseAttr(for='size') house size
   input#size(type='text', name='size')
  div.form-group
   label.houseAttr(for='cost') house Cost 
   input#cost(type='text', name='cost')
  input(type="submit")
 script.
  document.forms['houseForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((resp) => {
        return resp.json();
    }).then((body) => {
        alert("Save succeded")
    }).catch((error) => {
        alert("Save failed " + error )
    });
   }); 